body {
  font-family: Arial, sans-serif;
  width: 350px;
  padding: 15px;
  background-color: white;
  text-align: center;
}

.notification-container {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Базова тінь у звичайному стані */
  transition: box-shadow 0.2s, color 0.2s; /* Плавний перехід для тіні та кольору тексту */
  cursor: pointer; /* Вказує, що блок клікабельний */
}

/* Ефект при наведенні */
.notification-container:hover {
  background-color: #d1d1d1; /* сірий фон при наведенні */
  box-shadow: 0 4px 8px #4b4b4b; /* Підсвітка тіні світло-блакитним кольором */
  color: #161616; /* Світло-сірий текст при наведенні */
}

h2 {
  font-size: 18px;
  color: black;
}

p {
  font-size: 14px;
  color: #555;
}

span {
  display: block;
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

#markAsRead {
  background-color: green;
  color: white;
}

#markAsRead:hover {
  background-color: darkgreen;
}

#closeWindow {
  background-color: gray;
  color: white;
}

#closeWindow:hover {
  background-color: darkgray;
}